.item-container {
    display: flex;
    padding: 3% 3%;
    width: 100%;
}

.item-container:hover {
    background-color: rgb(225, 225, 225);
}

.item-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 10%;
    padding-right: 10px;
    flex-shrink: 0;
    height: fit-content;
    text-align: right;
}

.item-top-text {
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.description {
    margin: 10% 0;
}

.item-link {
    display: block;
    text-align: left;
}

.space {
    padding-left: 15px;
}